layout {
    tab_template name="dev_tab" {
        // the default zellij tab-bar and status bar plugins
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane split_direction="vertical" {
            children
        }
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }

    //-----------------------------------------

    dev_tab name="MAIN"
    dev_tab name="WORK" focus=true {
        pane {
            name "editor"
            command "$FILE_BROWSER"
            focus true
        }
        pane {
            name "misc"
        }
    }
    tab name="REVIEW"
    tab name="SCRATCH"
}

