layout {
    tab_template name="dev_tab" {
        // the default zellij tab-bar and status bar plugins
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
        floating_panes {
            pane {
                name "Session Manager"
                cmd "zellij-session-manager"
            }
        }
    }

    //-----------------------------------------

    dev_tab name="MAIN" cwd="main" {
        pane split_direction="vertical" {
            pane {
                name "editor"
            }
            pane {
                name "misc"
            }
        }
    }
    dev_tab name="WORK" cwd="work" {
        pane split_direction="vertical" {
            focus true
            pane {
                name "editor"
            }
            pane {
                name "misc"
            }
        }
    }
    dev_tab name="REVIEW" cwd="review" {
        pane split_direction="vertical" {
            pane {
                name "editor"
            }
            pane {
                name "misc"
            }
        }
    }
    dev_tab name="SCRATCH" cwd="scratch" {
        pane split_direction="vertical" {
        }
    }
}

