layout {
    cwd $HOME
    tab_template name="my_tab" {
        // the default zellij tab-bar and status bar plugins
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }

    //-----------------------------------------

    my_tab name="Nixos" cwd="$AJLOW_REPO_HOME/ajlow2000_nixos" {
        pane split_direction="vertical" {
            pane {
                name "editor"
            }
            pane {
                name "misc"
            }
        }
    }

    my_tab name="General" {
        pane split_direction="vertical" {
            pane
        }
    }

}
