layout {
    tab_template name="my_tab" {
        // the default zellij tab-bar and status bar plugins
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }

    //-----------------------------------------

    my_tab {
        pane split_direction="vertical" {
            pane
        }
    }

}
